@model GrupoAOX.Estagio.Application.ViewModel.LembreteViewModel

@{
    ViewBag.Title = "Remover";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-3 mt-4">
    <div class="card-header">
        <span class="h2">Lembrete</span>
    </div>
    <div class="card-body">

        <div class="form-group">
            <div class="col-lg-4">
                <label class="col-form-label">Transferencia Id</label>
            </div>
            <div class="col-lg-3">
                <input type="text" id="TransferenciaIdRead" name="TransferenciaIdRead" value="@Model.TransferenciaId" class="form-control" disabled="disabled" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-4">
                <label class="col-form-label" for="NumeroDocumento">Número Documento</label>
            </div>
            <div class="col-lg-3">
                <input type="text" id="NumeroDocumento" name="NumeroDocumento" value="@Model.Transferencia.NumeroDocumento" class="form-control" disabled="disabled" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-4">
                @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "col-form-label" })
            </div>
            <div class="col-lg-12">
                <textarea class="form-control" rows=6 name="Descricao" id="Descricao" disabled="disabled">@Model.Descricao</textarea>
            </div>
        </div>

        <hr />
        <h3>Lotes</h3>

        <div class="col-md-12">
            <table class="table table-striped table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Etiqueta</th>
                        <th>OP</th>
                        <th>Fitec</th>
                    </tr>
                </thead>
                <tbody id="lotes">
                    @foreach (var item in Model.Transferencia.Lotes)
                    {
                        <tr>
                            <td>@item.ApontamentoProducaoId</td>
                            <td>@item.Etiqueta</td>
                            <td>@item.OrderProducao</td>
                            <td>@item.Produto</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        @Html.ActionLink("Voltar para Lista", "Index", null, new { @class = "btn btn-secondary" })
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmed">Remover</button>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="deleteConfirmed" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remover</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="h4">Atenção</p><br />
                <p class="lead">Você está prestes a remover o lembrete <strong>@Model.LembreteId</strong></p>
                <p class="lead"><strong>Deseja realmente remove-lo?</strong></p>
                @using (Html.BeginForm("Remover", "Lembrete", FormMethod.Post, new { @id = "form-delete" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.LembreteId)
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="$('#form-delete').submit()">Confirmar</button>
            </div>
        </div>
    </div>
</div>