@model GrupoAOX.Estagio.Application.ViewModel.CategoriaViewModel

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-2 mt-4">
    <div class="card-header">
        <p class="h2">Detalhes Categoria</p>
    </div>

    <div class="card-body">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.CategoriaId, htmlAttributes: new { @class = "col-form-label" })
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.CategoriaId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.CategoriaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "col-form-label" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.TipoCategoria, htmlAttributes: new { @class = "col-form-label" })
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.TipoCategoria,  new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.TipoCategoria, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Voltar para Lista", "Index", null, new { @class = "btn btn-secondary" })
</p>
