@model GrupoAOX.Estagio.Application.ViewModel.UsuarioViewModel

@{
    ViewBag.Title = "Importar usuário AD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <h3>Importar usuário Active Directory</h3>
        <hr />
    </div>

    <div class="col-md-12" id="erros">

    </div>

    <div class="col-md-12">
        <div class="card" style="margin-bottom:15px;margin-top: 15px;">
            <div class="card-header">
                <h5>Opções de Pesquisa</h5>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("PesquisarUsuarioAD", "Usuario", FormMethod.Post))
                {
                    <div class="form-row">
                        <div class="col-2">
                            <select name="parametro" id="parametro" class="form-control" onchange="$('#busca').val('')">
                                <option value="login" @(ViewBag.Parametro == "login" ? "selected" : "")>Login</option>
                            </select>
                        </div>
                        <div class="col">
                            <div class="form-row">
                                <div class="col-auto">
                                    <div class="input-group mb-2">
                                        <input type="text" class="form-control" name="busca" id="busca" placeholder="Pesquisa..." value="@(ViewBag.Parametro == "" ? "" : @ViewBag.Busca)">
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<table class="table table-striped table-hover tabela">
    <tr class="thead-dark">
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    </tr>
    @if (Model == null || string.IsNullOrEmpty(Model.Login))
    {
        <tr><td class="text-center" colspan="4"><span class="lead">Não há dados</span></td></tr>
    }
    else
    {
        <tr>
            <td id="nome">
                @Html.DisplayFor(modelItem => Model.Nome)
            </td>
            <td id="login">
                @Html.DisplayFor(modelItem => Model.Login)
            </td>
            <td id="email">
                @Html.DisplayFor(modelItem => Model.Email)
            </td>
        </tr>
    }
</table>


<button type="button" id="btn-salvar" class="btn btn-success">Salvar</button>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Usuarios")
}