@model IEnumerable<GrupoAOX.Estagio.Application.ViewModel.UsuarioViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-12">
            <h3>Usuários</h3>
            <hr />
        </div>

        <div class="col-4">
            @Html.ActionLink("Importar Active Directory", "ImportarActiveDirectory", null, new { @class = "btn btn-warning" })
        </div>

        @if (TempData["UsuarioCadastrado"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <p>@Html.Raw(TempData["UsuarioCadastrado"])</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        <div class="col-12">
            <div class="card" style="margin-bottom:15px;margin-top: 15px;">
                <div class="card-header">
                    <h5>Opções de Pesquisa</h5>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        <div class="form-row">
                            <div class="col-2">
                                <select name="parametro" id="parametro" class="form-control" onchange="$('#busca').val('')" value="@(ViewBag.Busca == "" ? "" : ViewBag.Busca)">
                                    <option value="" @(ViewBag.Parametro == "" ? "selected" : "")>Pesquisar por...</option>
                                    <option value="nome" @(ViewBag.Parametro == "nome" ? "selected" : "")>Nome</option>
                                    <option value="login" @(ViewBag.Parametro == "login" ? "selected" : "")>Login</option>
                                    <option value="email" @(ViewBag.Parametro == "email" ? "selected" : "")>Email</option>
                                </select>
                            </div>
                            <div class="col-10">
                                <div class="form-row">
                                    <div class="col-10">
                                        <div class="input-group mb-2">
                                            <input type="text" class="form-control" name="busca" id="busca" placeholder="Pesquisa..." value="@(ViewBag.Parametro == "" ? "" : @ViewBag.Busca)">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

<table class="table table-striped table-sm table-hover tabela">
    <tr class="thead-dark">
        <th>
            @Html.DisplayNameFor(model => model.First().Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Email)
        </th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr><td class="text-center" colspan="4"><span class="lead">Não há dados</span></td></tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Detalhes", "Detalhes", new { id = item.UsuarioId }, new { @class = "btn btn-info btn-sm" })
                    @Html.ActionLink("Editar", "Editar", new { id = item.UsuarioId }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Remover", "Remover", new { id = item.UsuarioId }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    }
</table>
