<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Portal Almoxarifado</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <div style="background-image:url('/images/profile/default.png'); background-size:cover;"
                     class="img-user" onclick="document.getElementById('file').click();">
                    @using (Html.BeginForm("SaveImage", "Usuarios", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formImage" }))
                    {
                        <input type="file" id="file" name="postedImage" style="display:none;" onchange="$('#formImage').submit()" ; />
                    }
                    <div class="black-box img-user">
                        <div class="black-box-text">
                            <span>Editar imagem</span>
                        </div>
                    </div>
                </div>
                <p class="nome-user mt-2">Gabriel Antognoli@*@User.Identity.GetUserName()*@</p>
                @*<p class="nome-user mt-2">@User.Identity.GetBranchName()</p>*@
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home icone-menu"></i>Home</a>
                </li>

                <li>
                    <a href="#transferenciasSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div>
                            <i class="fas fa-retweet icone-menu"></i>
                            Almoxarifado PA
                        </div>
                    </a>
                    <ul class="collapse list-unstyled" id="transferenciasSubmenu">
                        <li>
                            <a href="@Url.Action("DescartarEtiqueta", "Lote")">Descartar Etiqueta</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Novo", "Romaneio")">Romaneio</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Novo", "OrdemExpedicao")">Ordem de Expedição</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#relatoriosSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-file-contract icone-menu"></i>Relatórios
                    </a>
                    <ul class="collapse list-unstyled" id="relatoriosSubmenu">
                        <li>
                            <a href="@Url.Action("EtiquetasGeradas", "Relatorios")">Relatorio Etiquetas Geradas</a>
                        </li>
                        <li>
                            <a href="@Url.Action("PrevisaoConsumo", "Relatorios")">Previsão de Consumo por Etiquetasa</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ReimpressaoRomaneio", "Relatorios")">Reimpressão de Romaneio</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ReimpressaoOrdemExpedicao", "Relatorios")">Reimpressão de Ordem de Expedição</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#painelcontroleSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-cogs icone-menu"></i> Configurações
                    </a>
                    <ul class="collapse list-unstyled" id="painelcontroleSubmenu">
                        <li>
                            <a href="@Url.Action("Index", "Usuario")">Usuários</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Permissao")">Permissões</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Status")">Status</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Categoria")">Categorias</a>
                        </li>
                    </ul>
                </li>

                @*<li>
                    <a href="@Url.Action("Descarte", "Etiqueta")"><i class="fas fa-chart-line icone-menu"></i>Descarte Etiqueta</a>
                </li>*@

            </ul>
        </nav>

        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                    @Html.Partial("_LoginPartial")
                </div>
            </nav>
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="lead">Desenvolvido por: Departamento de T.I Grupo AOX</span>
                </div>

            </div>
        </div>
    </footer>

    <script>
        var gHostProjeto = "@Url.Content("~/")";
    </script>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/Scripts/collapse-sidebar.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
